body{
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #125581;
    color: rgb(255, 255, 255);
}
.container{
    background-color: rgb(243, 243, 198);
    display: grid;
    grid-template-columns: 50% 50%;
}